
:root {
    --primary-color: #fff;
    --background-color: #252B35; /*linear-gradient(54deg, #9164ff, #8bfff4);*/
    --text-color: #3c3f64;
    /* From CeciliaBot */
    --font-color: #A1AEBD;
    --bg-color: #252B35;
    --bg-color-secondary: #1e2126;
    --search-primary-color: #181C22;
    --search-border-color: #0e0f11;
    --colore-check-eroi: red;
    --icon-bar: #1e2126;
    --icon-bar-alt: #252B35;
    --icon-bar-active: #4CAF50;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: normal 16px/1.5 'Titillium Web', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}
.modal-open {
  overflow: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timeline .date {
    position: absolute;
    top: calc(40% - 50px);
    color: white;
    transform: rotate(-45deg);
    width: max-content;
}
.timeline span.tevent {
    font-size: 45px;
    margin-left: -0.4em;
    position: absolute;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    top: 100%;
    transform: translateY(-100%);
    color: var(--icon-bar-active);
    height: max-content;
    opacity: 0.5;
    max-height: 100%;
    text-align: end;
    /*pointer-events: none;*/
    text-decoration: none;
    z-index: 1;
}
span.tevent a {
  text-decoration: none;
  color: inherit;
}
#timeline { /* Used for vtimeline centering */
  text-align: center;
}
.timeline {
    position: relative;
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0;
    padding-left: 100px;
    height: 100%;
    text-align: start;
}  /* set here the height of the timeline */
.timeline .dummy {
    visibility: none;
    opacity: 0;
    width: 0 !important;
    pointer-events: none;
}
/* middle line */
.timeline:before {
    content: "";
    position: absolute;
    top: 40%;
    top: calc(40% - 1px);
    width: 100%;
    height: 2px;
    background: var(--primary-color);
}
.timeline > li > span {
}
.timeline > li {
    display: flex;
    margin: 0 5px;
    width: 350px; /* 70px * 7 days */
    /*min-width: 200px;*/
    border-left: thin dashed white;
}

.timeline .banner{
    overflow: hidden;
    padding: 10px;
    width: 100%;
    height: 100px;
    border: 1px var(--primary-color) solid;
    background-color: red;
    border-radius: 30px;
    margin: 5px; /* this value (margin-left) has to be repeted (doubled) app.bannerLength*/
    cursor: pointer;
}
.timeline .banner.mystic {
    position: absolute;
    top: 40px;
    background: purple;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/237/281/286/space-universe-nebula-star-wallpaper-preview.jpg);
    background-size: cover;
    color: white;
}
.timeline .banner.covenant {
    background-color: white;
}
.timeline .banner.limited {
    background-color: #544CAF;
}
.timeline .banner.fire {
    background-color: #AF4C4C;
}
.timeline .banner.ice {
    background-color: #4C8AAF;
}
.timeline .banner.wind {
    background-color: #4CAF50;
}
.timeline .wrapper {
    position: absolute;
    top: calc(40% + 10px);
    width: 0;
}
/* style for the dot over the timeline */
.timeline > li:before {
    content: attr(data-date);
    position: absolute;
    top: 40%;
    transform: translateY(-50%) translateX(-11px) rotate(-45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    border: solid thick #fff;
    background: #4CAF50;
    color: white;
    text-indent: 20px;
    line-height: 10px;
    white-space: nowrap;
    pointer-events: none;
}


/* style for the event arrow */
.timeline .banner:before {
    display: none;
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -1px) rotateZ(45deg);
    background: #fff;
}
.timeline div .icon_container {
    /*overflow: hidden;*/
    white-space: nowrap;
    position: sticky;
    right: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    float: right;
}
.timeline div .icon_container > div{
    height: inherit;
    position: relative;
}
.timeline div .icon_container img{
    height: inherit;
    width: inherit;
    overflow: clip;
}
div.isnew > img {
  background-color: orange;
  border-radius: 100px;
  border-radius: 100%;
  border: solid orangered;
}
div.isnew:after {
	content: 'N';
	position: absolute;
	top: 0;
	right: 0;
	width: max-content;
	/* height: 20%; */
	background-color: orangered;
	border-radius: 100%;
	box-shadow: 0 0 8px 5px orangered;
	color: white;
	/* font-size: 12px; */
	font-size: 75%;
	text-align: center;
	padding: 2px 6px;
}
.upulls {
  display: inline-block;
  white-space: pre-line;
  font-size: 15px;
}
.upulls img {
  height: 2.7em;
  vertical-align: middle;
}
.modal {
    backdrop-filter: blur(8px);
}
.modal {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    box-sizing: border-box;
}
.modal * {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modal *::-webkit-scrollbar { /*Chrome scrollbar*/
  display: none;
}
.modal-content {
    margin: 2% auto auto;
    border: 4px solid #776048;
    border-radius: 12px;
    width: 80%;
    max-height: 90%;
    padding: 10px;
    background-color: var(--search-primary-color);
    color: var(--font-color);
}
.modal-title {
  width: 100%;
  font-size: 35px;
  text-align: initial;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
.modal-text {
  width: 100%;
  font-size: 18px;
  text-align: initial;
}
.modal-three-parts {
  display: flex; 
  flex-direction: column;
}
.modal-three-parts > div {
  padding: 16px;
}
.modal-three-parts > div:first-of-type {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: solid thin #776048;
  position:relative
}
.modal-three-parts > div:not(:first-of-type, :last-of-type) {
  overflow: auto;
  flex: 1; 
  text-align: start;
}
.modal-three-parts > div:last-of-type {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: solid thin #776048;
  min-height: fit-content;
  overflow: hidden;
}
.two-columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.5s;
  -webkit-animation: animatezoom 0.5s;
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
.modal-button {
  cursor: pointer;
  height: 48px; 
  min-width: 130px; 
  background-color: var(--bg-color-secondary); 
  border: 1px solid rgb(119, 96, 72); 
  border-radius: 10px; 
  color: var(--font-color); 
  font-size: 20px; 
  padding: 5px 20px;
  outline: none;
}
.modal-button:not(:last-of-type) {
  margin-right: 30px;
}
.modal-button:hover {
  opacity: 0.6;
}
img.game-item {
  height: 70px;
  vertical-align: middle;
}

#icon_bar {
  position: fixed;
  z-index: 40;
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-bar);
  padding: 5px;
  color: white;
}
div.icon_bar_small {
  background-color: var(--bg-color);
  height: 100%;
  min-width: 35px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 10px;
}

.editable {
	background-color: transparent;
	border-color: transparent;
	font-size: inherit;
	color: var(--font-color);
	width: 3em;
	background-color: var(--background-color);
	border-radius: 10px;
	text-align: center;
	padding: 5px;
}
.editable:focus {
	background-color: revert;
	color: revert;
	text-align: start;
	border-radius: 0;
	padding: 0;
	margin: 5px 0;
}

@media screen and (max-height: 600px) {
  .timeline .banner {
    height: 70px !important;
  }
  .timeline .banner.mystic {
    top: calc(100% - 120px) !important;
  }
  .timeline .wrapper {
    top: calc(10% + 10px);
  }
  .timeline .date {
    top: calc(10% - 20px);
    transform: rotate(0deg);
  }
  .timeline:before {
    top: 10%;
    top: calc(10% - 1px);
  }
  .timeline > li:before {
      top: 10%;
  }
}

@media screen and (max-width: 700px) {
  /*#timeline {
    transform: rotate(90deg) !important;
  }*/
}



.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--search-primary-color);
  min-width: 160px;
  max-width: 500px;
  left: 0;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content > div, .dropdown-content > a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content > span {
  color: var(--font-color);
  padding: 12px 16px;
  width: 500px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
}
.dropdown-content > div:hover, .dropdown-content > a:hover {
  background-color: var(--search-border-color);
  color: white;
}
.dropdown:hover .dropdown-content {display: block;}
.active { /* tasto premuto*/
  background-color: var(--search-border-color);
  color: white;
  outline: none;
}



/* Seal Test */
.seal {
  display: block;
  width:   4.4rem;
  height:  4.4rem;

  position: absolute;
  left:     50%;
  top:      49%;
  margin:   -2.2rem 0 0 -2.2rem;
  border-radius: 2.2rem 1.9rem 2.3rem 2.0rem;
  background:   #00ACED;
  color:        #00ACED;
  border-color: #00ACED;

  box-shadow: 0 -2px 4px rgba(  0,   0,   0, 0.2) inset,
              0  3px 3px rgba(255, 255, 255, 0.6) inset,
              0  1px 5px rgba(  0,   0,   0, 0.8);

  text-align: center;
  line-height: 3.8rem;
  font-size:   2.2rem;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.seal .embossed {
  display: block;
  width:   80%;
  height:  80%;

  position: absolute;
  top:      10%;
  left:     10%;
  box-shadow: 0 -2px 2px rgba(32, 26, 26, 0.1) inset,
              0 3px 3px rgba(30, 30, 30, 0.1) inset,
              0 1px 2px rgba(30, 30, 30, 0.6) inset;

  border-radius: 999rem;
  background-image: -webkit-linear-gradient(top,
                                            rgba( 51, 51, 51, 0.3) 0%,
                                            rgba( 51, 51, 51, 0.2) 100%);
}
.seal-top-left {
  left: 85%;
  top: 20%;
  transform: rotate(-20deg);
}
.seal-red {
  background: #E11313;
  color: #FF0707;
  border-color: #AE0909;
  color: #FF0707;
  text-shadow: 0 0 5px #000;
}






table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table /* * */{
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
}
table tbody tr {
  text-align: center !important;
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}












/* VERTICAL TIMELINE TEST*/
.vtimeline {
    position: relative;
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0;
    padding: 100px 0;
    width: 100%;
    max-width: 900px;
}  /* set here the height of the timeline */
.vtimeline .dummy {
    visibility: none;
    opacity: 0;
    pointer-events: none;
}
/* middle line */
.vtimeline::before {
    content: "";
    position: absolute;
    left: 40%;
    left: calc(40% - 1px);
    height: 100%;
    width: 2px;
    background: var(--primary-color);
}
.vtimeline > li > span {
}
.vtimeline > li {
    display: flex;
    margin: 5px 0;
    width: 100% !important;
    /*rder-top: thin dashed white;*/
    height: 200px;
}

.vtimeline .banner{
    overflow: hidden;
    padding: 10px;
    max-width: 100px;
    width: 30%;
    margin-top: 5px;
    border: 1px var(--primary-color) solid;
    background-color: red;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}
.vtimeline .banner.mystic {
    position: absolute;
    left: calc(40% - 140px);
    width: 17.5%;
    background: purple;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/237/281/286/space-universe-nebula-star-wallpaper-preview.jpg);
    background-size: cover;
    color: white;
}
.vtimeline .banner.covenant {
    background-color: white;
}
.vtimeline .banner.limited {
    background-color: #544CAF;
}
.vtimeline .banner.fire {
    background-color: #AF4C4C;
}
.vtimeline .banner.ice {
    background-color: #4C8AAF;
}
.vtimeline .banner.wind {
    background-color: #4CAF50;
}
.vtimeline .wrapper {
    position: absolute;
    left: calc(40% + 10px);
    width: calc(60% - 10px);
    height: 0;
    display: inline-flex;
}
.vtimeline .wrapper > div {
    display: inline-block;
}
/* style for the dot over the timeline */
.vtimeline > li::before {
	content: attr(data-date);
	position: absolute;
	left: 40%;
	transform: translateY(-50%) translateX(-50%);
	height: 20px;
	z-index: 2;
	border: solid thick #fff;
	line-height: 10px;
	white-space: nowrap;
	border-radius: 10px;
	color: black;
	background-color: white;
	pointer-events: none;
}
}


/* style for the event arrow */
.vtimeline .banner:before {
    display: none;
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -1px) rotateZ(45deg);
    background: #fff;
}
.vtimeline div .icon_container {
    /*overflow: hidden;*/
    position: sticky;
    right: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    float: right;
}
.vtimeline div .icon_container > div{
    width: inherit;
    position: relative;
}
.vtimeline div .icon_container img{
    width: inherit;
    height: inherit;
    overflow: clip;
}
.vtimeline span.tevent {
    font-size: 45px;
    position: absolute;
    text-orientation: mixed;
    transform: translateY(-100%);
    color: var(--icon-bar-active);
    width: max-content;
    opacity: 0.5;
    max-height: 100%;
    text-align: end;
    text-decoration: none;
    z-index: 1;
    margin-top: 30px;
}