<html>
    <head>
        <meta name="viewport" content="initial-scale=0.8, user-scalable=no">
        <title>CeciliaBot Timeline</title>
        <meta name="keywords" content="epic seven banner, epic 7 history, e7 timeline, epic 7 timeline, epic 7, e7, epic seven" />
        <meta name="description" content="Timeline of Epic Seven's Rate up and Mystic Banners" />
        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
        <link rel="manifest" href="/favicons/site.webmanifest">
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/favicons/browserconfig.xml">
        <meta name="theme-color" content="#252B35">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="CeciliaBot">
        <meta property="og:image" content="/favicons/android-chrome-256x256.png">
        <meta property="og:image:width" content="256">
        <meta property="og:image:height" content="256">
      
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer src="https://www.googletagmanager.com/gtag/js?id=UA-161715700-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-161715700-1');
    </script>
    <body class="modal-open">
        <div id="app">
            <div id="icon_bar" v-cloak>
              <div class="icon_bar_small dropdown noselect">
                <div>Options</div>
                <div class="dropdown-content">
                  <div @click="vertical=!vertical">Vertical Timeline: {{vertical?'On':'Off'}} (Test)</div>
                  <div @click="filter.showEvents=!filter.showEvents">Events: {{filter.showEvents?'On':'Off'}}</div>
                  <div @click="settings.colorCoded=!settings.colorCoded">Color: {{!settings.colorCoded?'Off':'On'}}</div>
                  <div @click="settings.showUserPull=!settings.showUserPull; if (settings.showUserPull && daySize<30) daySize=30;" style="/*display: none;*/">My Pulls: {{settings.showUserPull?'On':'Off'}}</div>
                </div>
              </div>
              <div class="icon_bar_small dropdown noselect">
                <div>Day scale</div>
                <div class="dropdown-content">
                  <div @click="setDaySize(15)">x15</div>
                  <div @click="setDaySize(20)">x20</div>
                  <div @click="setDaySize(30)">x30</div>
                  <div @click="setDaySize(40)">x40</div>
                  <div @click="setDaySize(50)">x50</div>
                </div>
              </div>
              <div class="icon_bar_small" @click="document.body.classList.add('modal-open'); getGeneralStats(); openStatWindow=true;">View Stats</div>
            </div>
            <section id="timeline" class="noselect" v-cloak>
                <ul v-if="dataReady===true" :class="{timeline: !vertical, vtimeline: vertical}" >
                    <li v-for="(banners,date,index) in renderList" :style="(vertical?'height:':'width:')+ daySize*dateDiff( Object.keys(renderList)[index+1],date )+'px'" :id="date" :data-date="displayDate(date)">
                        <!--<span class="date">{{displayDate(date)}}</span>-->
                        <span v-if="filter.showEvents===true && banners.event" class="tevent"><b><a :href="'#'+(banners.event.ref||date)">{{banners.event.name}}</a></b></span>
                        <div v-for="banner in banners.m" v-if="banner && banner.end===date && shouldDraw(banner)" @click="openThisBanner(banner)" class="banner mystic" :style="bannerSize(banner)">
                            <div class="icon_container">
                              <div v-for="c in banner.c" :class="{isnew: c.new}" style="display: inline-block;">
                                <img :src="heroIcon(c.id)"/>
                              </div>
                            </div>
                            <div v-if="settings.showUserPull" class="upulls">
                              <span>
                                <img src="https://d3kxs6kpbh59hp.cloudfront.net/community/COMMUNITY/5866e7302db84a0d9035be7fe7b268ba/9d6430994aae4105be07b27955e0da7a_1604292793.png"> x {{(userBannerData(banner).pulls||0) * daySize}}
                              </span>
                              <span>
                                <img src="https://emoji.gg/assets/emoji/6757_Sadge.png" style="height: 30px;vertical-align: middle;"> x {{userBannerData(banner).pity||0}}
                              </span>
                            </div>
                        </div>
                        <div class="wrapper">
                          <div v-for="banner in banners.n" v-if="banner && banner.end===date && shouldDraw(banner)" @click="openThisBanner(banner)" style="position: static !important;" class="banner" :class="settings.colorCoded===false?banner.type : banner.type!=='limited'?hero(banner.c[0].id).attribute:banner.type" :style="bannerSize(banner)">
                              <div class="icon_container">
                              <div class="icon_container">
                                <div v-for="c in banner.c" :class="{isnew: c.new}" style="display: inline-block;">
                                  <img :src="heroIcon(c.id)"/>
                                </div>
                              </div>
                              </div>
                              <div v-if="settings.showUserPull" class="upulls">
                                <span>
                                  <img src="https://epic7x.com/wp-content/uploads/2019/01/Covenant-Bookmark.png"> x {{(userBannerData(banner).pulls||0) * 5}}
                                </span>
                                <span>
                                  <img src="https://emoji.gg/assets/emoji/6757_Sadge.png" style="height: 30px;vertical-align: middle;"> x {{userBannerData(banner).pity||0}}
                                </span>
                              </div>
                          </div>
                          <div v-else-if="banner!=null" class="banner dummy"></div>
                        </div>
                    </li>
                </ul>
            </section>
            <div  v-if="!dataReady" style="z-index: 100; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: var(--bg-color); background: repeating-linear-gradient( 70deg, #090909, #090808 55px, #000 0px, #000 100px);">
              <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 70px; color: white;">Retrieving data...</div>
            </div>

            <button v-if="settings.dev==true" @click="devMenu=['newBanner']" v-cloak>
              New Banner  
            </button>

            <div class="modal animatezoom" v-if="openStatWindow!=false" v-cloak>
              <div class="modal-content modal-three-parts">
                <div style="display: none;">
                  <span class="modal-title">Timeline statistics</span>
                </div>
                <div>
                  Mystic 5* Rotations: <span class="editable">{{generalStats.bannerN.mystic}}</span><br>
                  Limited Banners: <span class="editable">{{generalStats.bannerN.limited}}</span><br>
                  Rate up banners: <span class="editable">{{generalStats.bannerN.covenant}}</span><br><br>
                  Last limited: <span class="editable">{{hero(generalStats.last_limited.c[0].id).name}} ({{dateDiff(generalStats.last_limited.start,today)}} days ago)</span><br>
                  Last new limited: <span class="editable">{{hero(generalStats.last_new_limited.c[0].id).name}} ({{dateDiff(generalStats.last_new_limited.start,today)}} days ago)</span><br><br>
                  <br><br>
                  <table>
                    <thead>
                      <td>Attrib.</td>
                      <td>#</td>
                      <td>Last 5★</td>
                      <td>Last New 5★</td>
                      <td>Last New 4★</td>
                    </thead>
                    <tbody>
                      <tr v-for="attribute in [{id: 'light', name: 'Light'},{id: 'dark', name: 'Dark'},{id: 'fire', name: 'Fire'},{id: 'ice', name: 'Ice'},{id: 'wind', name: 'Earth'}]">
                        <td>{{attribute.name}}</td>
                        <td>{{generalStats.attribute[attribute.id].count}}</td>
                        <td>{{hero(generalStats.attribute[attribute.id].last5.c[0].id).name}}<br>{{dateDiff(generalStats.attribute[attribute.id].last5.start,today)}} Days</td>
                        <td>{{hero(generalStats.attribute[attribute.id].lastnew5.c[0].id).name}}<br>{{dateDiff(generalStats.attribute[attribute.id].lastnew5.start,today)}} Days</td>
                        <td v-if="generalStats.attribute[attribute.id].lastnew4.c">{{hero(generalStats.attribute[attribute.id].lastnew4.c[0].id).name}}<br>{{dateDiff(generalStats.attribute[attribute.id].lastnew4.start,today)}} Days</td>
                      </tr>
                    </tbody>
                  </table>
                  <br><br>
                  <table>
                    <thead>
                      <td>Role</td>
                      <td>#</td>
                      <td>Last 5★</td>
                      <td>Last New 5★</td>
                      <td>Last New 4★</td>
                    </thead>
                    <tbody>
                      <tr v-for="role in [{id: 'knight', name: 'Knight'}, {id: 'warrior', name: 'Warrior'}, {id: 'assassin', name: 'Thief'}, {id: 'ranger', name: 'Ranger'}, {id: 'mage', name: 'Mage'}, {id: 'manauser', name: 'Soul-weaver'}]">
                        <td>{{role.name}}</td>
                        <td>{{generalStats.role[role.id].count}}</td>
                        <td>{{hero(generalStats.role[role.id].last5.c[0].id).name}}<br>{{dateDiff(generalStats.role[role.id].last5.start,today)}} Days</td>
                        <td>{{hero(generalStats.role[role.id].lastnew5.c[0].id).name}}<br>{{dateDiff(generalStats.role[role.id].lastnew5.start,today)}} Days</td>
                        <td v-if="generalStats.role[role.id].lastnew4.c">{{hero(generalStats.role[role.id].lastnew4.c[0].id).name}}<br>{{dateDiff(generalStats.role[role.id].lastnew4.start,today)}} Days</td>
                      </tr>
                    </tbody>
                  </table>
                  <br><br>
                  Stats by character:
                  <table>
                    <thead>
                      <td>Hero</td>
                      <td>Banners</td>
                      <td>Last<br>banner</td>
                      <td># of pulls</td>
                      <td>Obtained</td>
                      <td>Pity</td>
                    </thead>
                    <tbody>
                      <tr v-for="h in sortTableStats(generalStats.character, 'pulls')">
                        <td>{{hero(h.id).name}}</td>
                        <td>{{h.count}}</td>
                        <td><template v-if="h.last">{{displayDate(h.last)}}<br>{{dateDiff(h.last,today)}} Days ago</template></td>
                        <td>{{h.pulls}}</td>
                        <td>{{h.obtained}}</td>
                        <td>{{h.pity}}</td>
                      </tr>
                    </tbody>
                  </table>

                  Mystic characters with the most reruns: {{generalStats.character.slice().filter(function (x) {if (hero(x.id).rarity===5 && ['light','dark'].includes(hero(x.id).attribute)) return true }).map(function (x) {return hero(x.id).name + ' x'+x.count} ).slice(0,3).join(', ') }}<br>
                  Characters with the most reruns: {{generalStats.character.slice(0,5).map(function (x) {return hero(x.id).name + ' x' +x.count }).join(', ') }}<br>
                  Characters with the least reruns: {{generalStats.character.filter(function (x) {if (!['light','dark'].includes(hero(x.id).attribute)) return true }).slice(-5).reverse().map(function (x) {return hero(x.id).name + ' x' +x.count }).join(', ') }}<br>
                  Characters that never got a banner: {{(generalStats.nobanner||['none'] ).join(', ') }}<br>
                  <br><br><br>
                  User stats<br>
                  Covenant summons: <span class="editable">{{generalStats.userStats.total_covenant}}</span> Pity: <span class="editable">{{generalStats.userStats.covenant_pity}}</span><br>
                  Limited summons: <span class="editable">{{generalStats.userStats.total_limited}}</span> Pity: <span class="editable">{{generalStats.userStats.limited_pity}}</span><br>
                  Mystic summons: <span class="editable">{{generalStats.userStats.total_mystic}}</span> Pity: <span class="editable">{{generalStats.userStats.mystic_pity}}</span><br>
                </div>
                <div>
                  <button @click="closeBanner($event,{}); openStatWindow=false" class="modal-button">Close</button>
                </div>
              </div>
            </div>
          
            <div class="modal animatezoom" v-if="bannerOpen!=false" v-cloak>
              <div class="modal-content modal-three-parts">
                <div>
                  <span class="modal-title">{{bannerOpen.title}} ({{bannerOpen.subtitle}})</span>
                </div>
                <div>
                  <div style="text-align: center;">
                    Currently saving is disabled and data does not carry between visits!<br>
                    <a v-if="bannerOpen.nid" :href="'https://page.onstove.com/epicseven/global/view/' + bannerOpen.nid">Stove Rate up notice</a>
                    Number of pulls: <input ref="pulls" class="editable" :value="userBannerData(bannerOpen).pulls||0"><br><br>
                  </div>
                  <div class="two-columns">
                    <div>
                      <div v-for="(c,i) in bannerOpen.c">
                        <img class="game-item" :src="'https://cdn.glitch.com/6c14ca82-3bcb-4fd6-afa7-815b95e04a14%2F'+hero(c.id).id+'_s.png'">
                        <span>
                          Obtained: 
                          <input ref="cinput" class="editable" :value="(userBannerData(bannerOpen).c[i]||{}).g||0">
                        </span>
                        <span v-show="hero(c.id).rarity==5">
                          Pity: 
                          <input ref="cpity" class="editable" :value="(userBannerData(bannerOpen).c[i]||{}).p||0">
                        </span>
                      </div>
                    </div>
                    <div>
                      <div v-for="(a,i) in bannerOpen.a">
                        {{a.id}}
                        <span>
                          Obtained: 
                          <input ref="ainput" class="editable" :value="(userBannerData(bannerOpen).a[i]||{}).p||0">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <span class="modal-text">{{bannerId(bannerOpen)}}</span>
                  <button @click="saveBannerEdit($event,bannerOpen)" class="modal-button">Save</button>
                  <button @click="closeBanner($event,bannerOpen)" class="modal-button">Close</button>
                </div>
              </div>
            </div>
          
            <div class="modal animatezoom" v-if="devMenu!=false" v-cloak>
              <div class="modal-content modal-three-parts" id="devModal">
                <template v-if="devMenu[0]==='editBanner'||devMenu[0]==='newBanner'">
                  <label for="type">type:</label>
                  <input type="text" id="type" name="type" :value="(devMenu[1]||{}).type"><br><br>
                  <label for="start">start:</label>
                  <input type="text" id="start" name="type" :value="(devMenu[1]||{}).start || ''"><br><br>
                  <label for="end">end:</label>
                  <input type="text" id="end" name="type" :value="(devMenu[1]||{}).end || ''"><br><br>
                  <label for="title">title:</label>
                  <input type="text" id="title" name="type" :value="(devMenu[1]||{}).title || ''"><br><br>
                  <label for="subtitle">subtitle:</label>
                  <input type="text" id="subtitle" name="type" :value="(devMenu[1]||{}).subtitle || ''"><br><br>
                  <label for="c">characters:</label>
                  <input type="text" id="c" name="type" :value="(devMenu[1]||{}).c || ''"><br><br>
                  <label for="a">artifacts:</label>
                  <input type="text" id="a" name="type" :value="(devMenu[1]||{}).a || ''"><br><br>
                  <button class="modal-button" @click="devSaveBanner($event)">Save Banner</button>
                  <button class="modal-button" @click="devMenu=false; closeBanner($event,devMenu[1])">Cancel</button>
                </template>
              </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>